* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin: 1rem;
}

.random {
  border: 1px solid black;
  text-align: left;
  padding: 1rem;
  margin: 1rem;
}

.creditCardContainer {
  display: flex;
  justify-content: space-around;
}

.likeButton {
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px;
  width: 10rem;
}

.photos {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 2rem;
}

.photos > img {
  height: 12rem;
}

.photos > button {
  padding: 1rem;
}

.facebookCard {
  display: flex;
  border: 1px solid black;
  padding: 0.5rem;
}

.facebookCard > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.facebookButton {
  padding: 0.3rem;
  margin: 0.2rem;
  background-color: white;
  border: 2px solid silver;
  cursor: pointer;
}
